{{>include "@ui5/webcomponents/src/Popup.hbs"}}

{{#*inline "beforeContent"}}
    <h1 class="header">
        Hello World
        <ui5-button @click={{close}}>Shadow root Close Button</ui5-button>
    </h1>
{{/inline}}

{{#*inline "afterContent"}}

{{/inline}}
